/* General styling for index page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main Content */
.main-content {
    margin-left: 220px; /* Same as the width of the sidebar */
    margin-top: 70px; /* Space for the top navbar */
    padding: 20px;
}